@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.leaflet-marker-icon.custom-marker-icon {
  background: transparent;
  border: none;
}

.map-popup {
  min-width: 200px;
  font-family: sans-serif;
}

.map-popup h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.category-tag {
  display: inline-block;
  padding: 2px 6px;
  background: #f0f0f0;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 5px;
}
.leaflet-popup-content {
  margin: 8px 12px;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.custom-popup .leaflet-popup-content {
  margin: 12px;
  min-width: 200px;
}